.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e1e1e1ba;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}


.main-content {
    margin-left: 210px !important;
}