.custom-content {
    height: 83vh;
    overflow-y: scroll;
}

.navbar-header {
    justify-content: unset !important;
    padding: 0 20px 0 0 !important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .video-map {
        width: 108% !important;
    }
}